# Node modules
node_modules/

# Build output directories
dist/
build/

# Webpack cache
.cache/
.cache-loader/

# TypeScript
*.tsbuildinfo

# Sass cache
.sass-cache/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS-specific files
.DS_Store
Thumbs.db

# Environment variable files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Editor directories and files
.idea/
.vscode/
*.swp

# Yarn Integrity
.yarn-integrity

# GitHub Pages deployment
gh-pages/

# Temporary files
*.tmp
*.temp

# IDE files
*.iml
*.sublime-workspace
*.sublime-project

# System files
*.bak
*.orig

# Mac OS
.AppleDouble
.LSOverride

# Windows thumbnail cache files
Thumbs.db
ehthumbs.db

# Linux file system
*.directory

# Coverage directory used by testing tools
coverage/

# ESLint cache
.eslintcache

# Prettier
.prettierignore

# Ignore diff.txt
diff.txt
