.board {
	box-sizing: border-box;
	display: grid;
	grid-gap: 5px;
	grid-template-rows: repeat(6, 1fr);
	height: fit-content;
	padding: 10px;
	width: fit-content;

	.row {
		display: grid;
		grid-gap: 5px;
		grid-template-columns: repeat(5, 1fr);
	}
}
