// Colors
$background-color: oklch(0.18 0 286.2);
$text-color: oklch(1 0 231.14);
$primary-color: oklch(0.68 0.12 142.24);
$tile-border-color: oklch(0.35 0 286.22);
$tile-text-color: oklch(0 0 0);

// Sizes
$gap-size: 5px;
$tile-size: 62px;
